body {
  margin: 0;
}

html {
  background-color: #b8b8b871;
}

nav {
  width: 100%;
  height: 80px;

  margin: 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.right-tags {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.main-nav {
  display: flex;
  align-items: center;
  column-gap: 60px;
}

.contact-div {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  align-items: center;
  padding: 0px 20px 0 20px;
}

nav p {
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
}

nav p:hover {
  color: rgb(99, 99, 99);
}

nav h1 {
  font-family: "Kanit", sans-serif;
  font-size: 2rem;
  padding-left: 30px;
}

.contact {
  border: 1px solid black;
  border-radius: 14px;
  padding: 10px 20px 10px 20px;
}

.contact-div a {
  text-decoration: none;
  color: black;
}

.contact:hover {
  background-color: black;
  color: white;
}

.dropdown-menu {
  display: flex;
  position: absolute;
  transform: translateY(75px);
  height: fit-content;
  flex-direction: column;
  row-gap: 10px;
  padding: 1.5rem;
  background-color: white;
  box-shadow: 0px 0px 12px 1px #00000040;
  border-radius: 7px;
  border: 0px;
  background-color: #eeeeee;
  z-index: 3;
}

.dropdown-div {
  display: flex;
  flex-direction: column;
}

.dropdown-menu p {
  margin: 0;
  color: rgb(99, 99, 99);
}

.dropdown-menu p:hover {
  margin: 0;
  color: rgb(0, 0, 0);
}

.icon-ad {
  color: rgb(138, 100, 226);
  padding: 0 10px 0 0px;
}

.icon-cont {
  color: rgb(68, 175, 218);
  padding: 0 10px 0 0px;
}

.icon-seo {
  color: rgb(206, 175, 0);
  padding: 0 15px 0 0px;
}

.icon-sales {
  color: rgb(163, 56, 163);
  padding: 0 15px 0 0px;
}

.body-h1 {
  font-family: "Kanit", sans-serif;
  font-size: 5rem;
  line-height: 2rem;
}

.body-p {
  font-family: "Open Sans", sans-serif;
  line-height: 2rem;
  font-size: 1.1rem;
  color: rgb(99, 99, 99);
}

.body-div {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.learnmore {
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 13px;
  padding: 15px 30px 15px 30px;
  font-size: 18px;
  width: 30%;
  font-weight: 600;
}

.learnmore:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 1px solid black;
}

.body-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 30px;
}

img {
  width: 100%;
}

.body-main {
  display: flex;
  flex-direction: row;

  height: 100vh;
  column-gap: 7rem;
  justify-content: center;
}

.img-div {
  display: flex;
  align-items: flex-start;
  width: 38vw;
}

.company-div {
  display: flex;
  flex-direction: row;
  column-gap: 15%;
  padding-top: 6rem;
}

.company-div p {
  padding: 0% 0% 0 0;
  width: 18%;
}

h1 a {
  color: black;
  text-decoration: none;
}

h1 a:hover {
}

p a {
  color: black;
  text-decoration: none;
}

p a:hover {
  color: rgb(99, 99, 99);
}

.about-div {
  display: flex;
  height: calc(100vh - 80px);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0% 20% 0% 20%;
}

.about-div h1 {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}

.about-div p {
  font-family: "Open Sans", sans-serif;
  color: rgb(56, 56, 56);
}

.careers-div {
  display: flex;
  height: calc(100vh - 80px);

  align-items: center;
  flex-direction: column;
  padding: 0% 20% 0% 20%;
}

.careers-div h1 {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}

.pricing-div {
  display: flex;
  height: calc(100vh - 80px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pricing-table {
  display: flex;
  height: 70vh;
  flex-direction: row;
  justify-content: center;
  column-gap: 10%;
}

.price-block {
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 70vh;
  border-radius: 23px;
  align-items: center;
  box-shadow: 0px 0px 12px 1px #00000040;
  row-gap: 8%;
}

.info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-block ul {
  list-style-type: none;
  padding: 0;
}

.info-block li {
  padding: 15% 0 15% 0;
  font-family: "Open Sans", sans-serif;
}

.price-block h1,
h2 {
  font-family: "Kanit", sans-serif;
}

.price-block h2 {
  margin-bottom: 0;
}

.camp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: 8rem;
}

.camp-grid {
  height: calc(50vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px 0 80px;
}

.camp-block {
  margin-top: 200px;
  display: flex;
  text-align: center;
  background-color: rgb(189, 189, 189);
  width: 4rem;
  height: 4rem;
  border-radius: 9px;
  margin: 3rem 3rem 0 3rem;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  box-shadow: 0px 0px 5px 4px #00000040;
}

.camp-block p {
  /* top: 0.1rem;
  color: black;
  position: absolute;
  height: 50px;
  z-index: 2;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  font-weight: 600;
  font-size: 0.5rem; */
  display: none;
}

.camp-row-1 {
  display: flex;
  flex-direction: row;
}

.camp-row-2 {
  display: flex;
  flex-direction: row;
}

.camp-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2rem;
}

.camp-text p {
  margin-bottom: 0;
}

.item-block {
  position: absolute;
  margin: 0 auto;
  width: 2rem;
  height: 2rem;
  background-color: rgb(221, 221, 221);
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.camp-icon {
  font-size: 1rem;
}

.create-div {
  display: flex;
  flex-direction: row;
  height: calc(100vh -80px);
  width: 100vw;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.create-text {
  width: 50vw;
  margin-right: 10rem;
  font-family: "Open Sans", sans-serif;
  color: rgb(56, 56, 56);
}

.camp-text {
  width: 50vw;
  margin-right: 10rem;
  font-family: "Open Sans", sans-serif;
  color: rgb(56, 56, 56);
}

.seo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
}

.seo-img {
  width: 40vw;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.seo-img img {
  width: 50%;
}

.seo-text {
  width: 40vw;
  margin-right: 10rem;
  font-family: "Open Sans", sans-serif;
  color: rgb(56, 56, 56);
}

.sales-div {
  display: flex;
  flex-direction: row;
  margin-top: 8rem;
}

.sales-img {
  width: 45vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sales-img img {
  width: 50%;
}

.sales-text {
  width: 40vw;
  margin-right: 10rem;
  font-family: "Open Sans", sans-serif;
  color: rgb(56, 56, 56);
}

.history-div {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.history-text {
  display: flex;
  flex-direction: column;
  width: 30vw;
  font-family: "Open Sans", sans-serif;
  color: rgb(56, 56, 56);
  align-items: center;
}

.history-img {
  width: 40vw;
  justify-content: center;
  align-items: center;
  padding-right: 4rem;
}

.team-div {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.team-text {
  display: flex;
  flex-direction: column;
  width: 30vw;
  font-family: "Open Sans", sans-serif;
  color: rgb(56, 56, 56);
  align-items: center;
}

.contactpage-div {
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.contact-row-1 {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  width: 40vw;
  justify-content: center;
}

.contact-row-1 input {
  width: 100%;
  height: 2rem;
  border: none;
  border-radius: 7px;
  padding: 0.7rem;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  font-family: "Open Sans", sans-serif;
}

.contact-row-1 input:focus {
  outline: none !important;
  border: 2px solid #8c52ff;
}

.contact-row-2 {
  display: flex;
  flex-direction: column;
  width: 40vw;
  row-gap: 1rem;
}

.contact-row-2 input {
  height: 2rem;
  border: none;
  border-radius: 7px;
  padding: 0.7rem;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  font-family: "Open Sans", sans-serif;
}

.contact-row-2 input:focus {
  outline: none !important;
  border: 2px solid #8c52ff;
}

.contact-row-2 textarea {
  height: 4rem;
  border: none;
  border-radius: 7px;
  resize: none;
  padding: 0.7rem;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  font-family: "Open Sans", sans-serif;
}

.contact-row-2 textarea:focus {
  outline: none !important;
  border: 2px solid #8c52ff;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

.contact-button {
  color: white;
  font-family: "Open Sans", sans-serif;
  border-radius: 7px;
  border: none;
  width: 7rem;
  height: 2rem;
  background-color: #8c52ff;
  font-weight: 600;
}

.contact-button:hover {
  border: 2px solid #8c52ff;
  background-color: white;
  color: #8c52ff;
}

.contact-text {
  display: flex;
  font-family: "Open Sans", sans-serif;
  width: 40vw;
  font-size: 0.8rem;
  align-items: center;
  justify-content: center;
}
